@model DGTP.Data.Products

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SEOName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SEOName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryAlias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryAlias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Images)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Images)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Introduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HTMLCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HTMLCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HTMLDisplay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HTMLDisplay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CraeteDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CraeteDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
