@{
    ViewData["Title"] = "Sản Phẩm";
}
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="/assets/images/banner/banner-w2-1170x400.png">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Sản Phẩm</h2>
                        <ul>
                            <li>
                                <a href="index.html">Trang Chủ</a>
                            </li>
                            <li>Sản Phẩm</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 order-2 order-lg-1 pt-5 pt-lg-0">
                    <div class="sidebar-area">
                        <div class="widgets-area">
                            <div class="widgets-item pt-0">
                                <h2 class="widgets-title mb-4">Danh Mục</h2>
                                <ul class="widgets-category">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-chevron-right"></i>
                                            Tất Cả Sản Phẩm
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widgets-item">
                                <h2 class="widgets-title mb-4">Phòng Bếp</h2>
                                <ul class="widgets-category">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-chevron-right"></i>
                                            Cửa Gỗ
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-chevron-right"></i>
                                            Trần Gỗ
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-chevron-right"></i>
                                            Sofa
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widgets-item">
                                <h2 class="widgets-title mb-4">Phòng Ngủ</h2>
                                <ul class="widgets-category">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-chevron-right"></i>
                                            Giường Ngủ Gỗ
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-chevron-right"></i>
                                            Bàn Trang Điểm
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-chevron-right"></i>
                                            Tủ Quần Áo
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widgets-item">
                                <h2 class="widgets-title mb-4">Phòng Bếp</h2>
                                <ul class="widgets-category widgets-color">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-chevron-right"></i>
                                            Tủ Bếp
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-chevron-right"></i>
                                            Kệ Bếp
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-chevron-right"></i>
                                            Bàn Ăn
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widgets-item">
                                <h2 class="widgets-title mb-4">Tags</h2>
                                <ul class="widgets-tag">
                                    <li>
                                        <a href="#">Đồ Gỗ</a>
                                    </li>
                                    <li>
                                        <a href="#">Bàn Ghế</a>
                                    </li>
                                    <li>
                                        <a href="#">Phòng Ngủ</a>
                                    </li>
                                    <li>
                                        <a href="#">Phòng Khách</a>
                                    </li>
                                    <li>
                                        <a href="#">Nội Thất</a>
                                    </li>
                                    <li>
                                        <a href="#">Trang Trí</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="banner-item widgets-banner img-hover-effect">
                            <div class="banner-img">
                                <img src="assets/images/product/large-size/2196c002ed02255c7c13.jpg" alt="Banner Image">
                            </div>
                            <div class="banner-content text-position-center">
                                <span class="collection">Hàng Mới</span>
                                <h3 class="title">Kệ Gỗ</h3>
                                <div class="button-wrap">
                                    <a class="btn btn-custom-size sm-size btn-pronia-primary" href="#">
                                        Mua Ngay
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 order-1 order-lg-2">
                    <div class="product-topbar">
                        <ul>
                            <li class="page-count">
                                <span>11</span> Sản Phẩm Trên Tổng Số <span>11</span>
                            </li>
                            <li class="product-view-wrap">
                                <ul class="nav" role="tablist">
                                    <li class="grid-view" role="presentation">
                                        <a class="active" id="grid-view-tab" data-bs-toggle="tab" href="#grid-view" role="tab" aria-selected="true">
                                            <i class="fa fa-th"></i>
                                        </a>
                                    </li>
                                    <li class="list-view" role="presentation">
                                        <a id="list-view-tab" data-bs-toggle="tab" href="#list-view" role="tab" aria-selected="true">
                                            <i class="fa fa-th-list"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="short">
                                <select class="nice-select">
                                    <option value="1">Tên Từ A - Z</option>
                                    <option value="2">Hàng Mới</option>
                                    <option value="3">Hàng Bán Chạy</option>
                                    <option value="4">Giá Từ Thấp Tới Cao</option>
                                    <option value="5">Giá Từ Cao Tới Thấp</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="grid-view" role="tabpanel" aria-labelledby="grid-view-tab">
                            <div class="product-grid-view row g-y-20">
                                @foreach (var data in ViewBag.Products)
                                {
                                <div class="col-xl-3 col-md-4 col-sm-6">
                                    <div class="product-item">
                                        <div class="product-img">
                                            <a href="/san-pham/@data.Alias">
                                                @{bool isFirst = true;}
                                                @foreach (var img in @data.Images.Split(';'))
                                                {
                                                    <img class="@(isFirst ? "primary-img" : "secondary-img")" src="@img" alt="@data.ProductName">
                                                    isFirst = false;
                                                }
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <a class="product-name" href="/san-pham/@data.Alias">@data.ProductName</a>
                                            <div class="price-box pb-1">
                                                <span class="new-price">Liên Hệ</span>
                                            </div>
                                            <div class="rating-box">
                                                <ul>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-view" role="tabpanel" aria-labelledby="list-view-tab">
                            <div class="product-list-view row g-y-30">
                                @foreach (var data in ViewBag.Products)
                                {
                                    <div class="col-12">
                                        <div class="product-item">
                                            <div class="product-img">
                                                <a href="/san-pham/@data.Alias">
                                                    @{bool isFirst = true;}
                                                    @foreach (var img in @data.Images.Split(';'))
                                                    {
                                                        <img class="@(isFirst ? "primary-img" : "secondary-img")" src="@img" alt="@data.ProductName">
                                                        isFirst = false;
                                                    }
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <a class="product-name" href="/san-pham/@data.Alias">@data.ProductName</a>
                                                <div class="price-box pb-1">
                                                    <span class="new-price">Liên Hệ</span>
                                                </div>
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                    </ul>
                                                </div>
                                                <p class="short-desc mb-0">
                                                    @data.Description
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="pagination-area">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">&raquo;</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>